<!DOCTYPE html>
<html lang="en">
<body>
  <header>
    <% include ./partials/_header.js %>
  </header>
  <h3><a href="/urls/new"> Create a new TinyUrl</a></h3>
  <% for (url of urls) { %>
    <ul>
      <li>
        <a href='/urls/<%= url.shortURL %>'><%= url.shortURL %></a>
        <br>
        <a href='/urls/<%= url.longURL %>'><%= url.longURL %></a>
        <br>
        <br>
        <form method="POST" action="/urls/<%= url.shortURL %>?_method=GET">
          <button type="submit">Edit TinyUrl</button>
        </form>
        <br>
        <form method="POST" action="/urls/<%= url.shortURL %>?_method=DELETE">
          <button type="submit">Delete TinyUrl</button>
        </form>
      </li>
    </ul>
  <% } %>
</body>
</html>