<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Write EJS code here to display shortened links -->
  <header>
    <% include ./partials/_header.js %>
  </header>
    <% for (url of urls) { %>
      <ul><li><a href= '/urls/<%=url.shortURL %>'> <%= url.shortURL %></a></li>
      <br>
      <a href= '/urls/<%=url.longURL %>'> <%= url.longURL %></a>
      <br>
        <br>
        <form method="POST" action="/urls/<%= url.shortURL%>?_method=GET">
          <button type="submit">Update TinyUrl</button>
        </form>
        <br>
        <form method="POST" action="/urls/<%= url.shortURL%>?_method=DELETE">
          <button type="submit">Delete TinyUrl</button>
        </form>
      </ul>
    <% } %>
    <p>

    </p>

</body>
</html>